
nav {
    background: rgba(0, 81, 255, 0.946);
}

#first {
    /* background-image: url("/images/bg.jpg"); */
    background-color: #0e5bff;
    background-image:
        radial-gradient(at 47% 33%, hsl(34.12, 100%, 50%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(0.00, 78%, 63%) 0, transparent 55%);
    background-size: cover;
    height: 80vh;
    width: 100%;
}