body {
    background-color: #0e5bff;
        background-image:
            radial-gradient(at 47% 33%, hsl(34.12, 100%, 50%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(0.00, 78%, 63%) 0, transparent 55%);
        background-size: cover;
        height: 100vh;
        width: 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    padding: 20px;

}

.form {
    margin-top: 15px;
}

.form label {
    font-weight: 700;
    font-size: 14px;
}

.form input {
    height: 45px;
    border: 2px solid #eee;
    transition: all 0.9s;
}

.form input:focus {
    box-shadow: none;
    border: 2px solid #0D6EFD;
}

.social-button {
    height: 45px;
    background-color: #0D6EFD;
}

.login-button {
    margin-top: 15px;
}

.login-button button {
    height: 45px;
}